@import "../../common/styles/variables";

.container {
  display: flex;
  align-items: center;
  height: $footerHeight;
  padding: 0 20px;
  color: #dcdcdc;
  font-size: 0.8rem;
  background-color: #9d9d9d;

  border-top: 1px solid black;

  .appName {
    color: $appTurquoise;
  }

  .name {
    color: $appOrange400;
    text-shadow: 0 1px 1px $appTextColor;
  }
}
