$headerHeight: 50px;
$footerHeight: 30px;
$headerFooterSum: $headerHeight + $footerHeight;

// Colours
$appLightGray: #f2f2f1;
$appImgBg: #e6e6e6;
$appGray: #757575;
$appDarkGray: #48484a;
$appOrange: #f86a51;
