@import "src/common/styles/variables";

.container {
  color: $appDarkGray;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $appLightGray;

  .content {
    height: calc(100vh - #{$headerFooterSum});
    overflow: auto;
  }
}
