@import "src/common/styles/variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

input,
textarea {
  color: $appTextColor;
  font-family: inherit;
  font-size: inherit;
}

.container {
  color: $appTextColor;
  max-width: 1280px;
  min-width: 580px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: $appBgColor;

  .content {
    height: calc(100vh - #{$headerFooterHeight});
    overflow: auto;
  }
}
