@import "src/common/styles/variables";

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  height: calc(100vh - #{$headerFooterSum});
  overflow: auto;

  .description {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
