.container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 25%;

  .link {
    color: black;
    text-decoration: none;
    outline: none;
  }

  .activeLink {
    color: red;
    text-decoration: none;
    outline: none;
  }
}
