@import "src/common/styles/variables";

.container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 25%;

  .link {
    color: $appTextColor;
    text-decoration: none;
    outline: none;
  }

  .activeLink {
    color: $appOrange500;
    text-decoration: none;
    outline: none;
  }
}
